:root {
  --oui-font-family: 'Manrope', sans-serif;

  /* colors */
  --oui-color-primary: 64 224 208;
  --oui-color-primary-light: 129 255 234;
  --oui-color-primary-darken: 34 176 173;
  --oui-color-primary-contrast: 255 255 255;

  --oui-color-link: 75 191 255;
  --oui-color-link-light: 135 235 255;

  --oui-color-secondary: 255 255 255;
  --oui-color-tertiary: 218 218 218;
  --oui-color-quaternary: 218 218 218;

  --oui-color-danger: 255 0 100;
  --oui-color-danger-light: 255 128 173;
  --oui-color-danger-darken: 227 0 73;
  --oui-color-danger-contrast: 255 255 255;

  --oui-color-success: 0 255 149;
  --oui-color-success-light: 87 255 193;
  --oui-color-success-darken: 0 176 101;
  --oui-color-success-contrast: 255 255 255;

  --oui-color-warning: 255 165 0;
  --oui-color-warning-light: 255 205 74;
  --oui-color-warning-darken: 255 114 0;
  --oui-color-warning-contrast: 255 255 255;

  --oui-color-fill: 24 24 48;
  --oui-color-fill-active: 40 46 58;

  --oui-color-base-1: 64 64 96;
  --oui-color-base-2: 48 48 80;
  --oui-color-base-3: 32 32 64;
  --oui-color-base-4: 24 24 56;
  --oui-color-base-5: 16 16 48;
  --oui-color-base-6: 8 8 40;
  --oui-color-base-7: 51 46 66;
  --oui-color-base-8: 29 26 38;
  --oui-color-base-9: 16 14 28;
  --oui-color-base-10: 8 6 18;

  --oui-color-base-foreground: 255 255 255;
  --oui-color-line: 255 255 255;

  --oui-color-trading-loss: 255 0 100;
  --oui-color-trading-loss-contrast: 255 255 255;
  --oui-color-trading-profit: 0 255 149;
  --oui-color-trading-profit-contrast: 255 255 255;

  /* gradients */
  --oui-gradient-primary-start: 0 191 255;
  --oui-gradient-primary-end: 75 191 255;

  --oui-gradient-secondary-start: 48 48 80;
  --oui-gradient-secondary-end: 64 224 208;

  --oui-gradient-success-start: 0 176 101;
  --oui-gradient-success-end: 0 255 149;

  --oui-gradient-danger-start: 227 0 73;
  --oui-gradient-danger-end: 255 0 100;

  --oui-gradient-brand-start: 129 255 234;
  --oui-gradient-brand-end: 64 224 208;
  --oui-gradient-brand-stop-start: 6.62%;
  --oui-gradient-brand-stop-end: 86.5%;
  --oui-gradient-brand-angle: 17.44deg;

  --oui-gradient-warning-start: 255 114 0;
  --oui-gradient-warning-end: 255 165 0;

  --oui-gradient-neutral-start: 16 16 32;
  --oui-gradient-neutral-end: 24 24 48;

  /* rounded */
  --oui-rounded-sm: 2px;
  --oui-rounded: 4px;
  --oui-rounded-md: 6px;
  --oui-rounded-lg: 8px;
  --oui-rounded-xl: 12px;
  --oui-rounded-2xl: 16px;
  --oui-rounded-full: 9999px;

  /* spacing */
  --oui-spacing-xs: 20rem;
  --oui-spacing-sm: 22.5rem;
  --oui-spacing-md: 26.25rem;
  --oui-spacing-lg: 30rem;
  --oui-spacing-xl: 33.75rem;
}